In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [2]:
df = pd.read_excel("POINT_JUILLET_2024.xlsx")
df

,DATES,NOMS,PRENOMS,EXAMENS,MONTANTS
0,2024-07-01,FOUSSENI,SAFOURA,UREE CREAT,6000
1,NaT,ADJIBOISHA,MOUDACHIROU,NFS GEDP CRP,8500
2,NaT,DAGNON,BLANDINE,NFS PLAQUETTES GEDP CRP,10500
3,NaT,MUHAMMED,HABEEB B.,HCV AGHBS HIV TPHA VDRL,20000
4,2024-07-02,ABOU-ZOUNNON,ABDALA,NFS GEDP CRP SDW,12500
...,...,...,...,...,...
177,NaT,BB HOUNGA,IDOLEKE,NFS CRP CAL GLY,11000
178,NaT,SEHOUHOUE,VITAL,GEDP,2000
179,NaT,GOUSSIKPEVI,ARIELLE,GEDP SDW CRP,8000
180,NaT,TCHABOSSOU,ENZO,ELECTRO NFS GEDP CRP CAL CREAT SDW,22000
181,NaT,ALLAGBE,DONA,NFS PLAQUETTES GLY CRP GEDP CAL UR...,28000

In [3]:
list_index = []
for index, line in df.iterrows():
    if line["NOMS"] is np.NaN:
        list_index.append(index)
df = df.drop(list_index, axis=0)
print(list_index)
df

[]

,DATE,NOMS,PRENOMS,EXAMENS,MONTANT
0,2024-06-05,DOUVI,P. FIDELE,TRANSA,4000
1,NaT,NAYAK,SILLA,NFS GEDP CRP,8500
2,2024-06-07,AHOUANSE,EMELINE,NFS GEDP CRP,8500
3,NaT,GADJE,SALEEM,GLY TG CHOLT HDL LDL TESTO,26000
4,NaT,ASSOHOTO,LAURENT,NFS GEDP CAL VS,10500
5,NaT,SOVIDE,MARCEL,ECBU+ATB,10000
6,2024-06-09,SOGBONOU,AMOUR BERENGER,NFS GEDP CRP,8500
7,2024-06-10,GNANCADJA,CASIMIR,NFS GEDP CRP VS CAL IONO,19500
8,2024-06-14,ASSOHOTO,LAURENT,GLY HIV,3500
9,2024-06-16,TOKOGNON,JACQUES NOAH,UREE CREAT,3900
10,2024-06-19,HADJ ABDOU,R. YASSIR,NFS GEDP CRP SDW,12500
11,2024-06-20,GOUHOUENOU,ROXANE,NFS GEDP CRP,8500
12,2024-06-22,DANGNIBO,RODOLPHE,GEDP,1500
13,2024-06-27,LISSAHINTO,LAURE,NFS PLAQUETTES GEDP UREE CRAT MG CAL IONO GL...,33400
14,2024-06-28,TOBADA,ILARION,NFS GEDP CRP SDW,12500
15,2024-06-30,LOKOSSOU,ISABELLE,NFS GEDP CRP GLY,9500
16,NaT,HOUNDETON,AFOUSSATOU,NFS GEDP CRP,8500

In [5]:
Nat = type(df["DATE"][0])
print(type(df["DATE"][6]) == Nat)
print(Nat)

True
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [6]:
#### Remplir les dates non écrites 
for index, line in df.iterrows():
    if type(line["DATE"]) == type(df["DATE"][0]):
        datee = line["DATE"]
        #print(datee)
    else:
        #line["DATE"] = datee
        df.at[index, "DATE"] = datee
df

,DATE,NOMS,PRENOMS,EXAMENS,MONTANT
0,2024-06-05,DOUVI,P. FIDELE,TRANSA,4000
1,2024-06-05,NAYAK,SILLA,NFS GEDP CRP,8500
2,2024-06-07,AHOUANSE,EMELINE,NFS GEDP CRP,8500
3,2024-06-07,GADJE,SALEEM,GLY TG CHOLT HDL LDL TESTO,26000
4,2024-06-07,ASSOHOTO,LAURENT,NFS GEDP CAL VS,10500
5,2024-06-07,SOVIDE,MARCEL,ECBU+ATB,10000
6,2024-06-09,SOGBONOU,AMOUR BERENGER,NFS GEDP CRP,8500
7,2024-06-10,GNANCADJA,CASIMIR,NFS GEDP CRP VS CAL IONO,19500
8,2024-06-14,ASSOHOTO,LAURENT,GLY HIV,3500
9,2024-06-16,TOKOGNON,JACQUES NOAH,UREE CREAT,3900
10,2024-06-19,HADJ ABDOU,R. YASSIR,NFS GEDP CRP SDW,12500
11,2024-06-20,GOUHOUENOU,ROXANE,NFS GEDP CRP,8500
12,2024-06-22,DANGNIBO,RODOLPHE,GEDP,1500
13,2024-06-27,LISSAHINTO,LAURE,NFS PLAQUETTES GEDP UREE CRAT MG CAL IONO GL...,33400
14,2024-06-28,TOBADA,ILARION,NFS GEDP CRP SDW,12500
15,2024-06-30,LOKOSSOU,ISABELLE,NFS GEDP CRP GLY,9500
16,2024-06-30,HOUNDETON,AFOUSSATOU,NFS GEDP CRP,8500

In [7]:
dict_dates = {}
for index, line in df.iterrows():
    datee = line["DATE"]
    dict_dates[datee] = dict_dates.get(datee,{})
    examens = line["EXAMENS"]
    examens = examens.split()
    print(examens)
    for examen in examens :
        #print(examen)
        dict_dates[datee][examen] = dict_dates[datee].get(examen, 0) + 1
    print(datee, dict_dates[datee])
print(dict_dates)

['TRANSA']
2024-06-05 00:00:00 {'TRANSA': 1}
['NFS', 'GEDP', 'CRP']
2024-06-05 00:00:00 {'TRANSA': 1, 'NFS': 1, 'GEDP': 1, 'CRP': 1}
['NFS', 'GEDP', 'CRP']
2024-06-07 00:00:00 {'NFS': 1, 'GEDP': 1, 'CRP': 1}
['GLY', 'TG', 'CHOLT', 'HDL', 'LDL', 'TESTO']
2024-06-07 00:00:00 {'NFS': 1, 'GEDP': 1, 'CRP': 1, 'GLY': 1, 'TG': 1, 'CHOLT': 1, 'HDL': 1, 'LDL': 1, 'TESTO': 1}
['NFS', 'GEDP', 'CAL', 'VS']
2024-06-07 00:00:00 {'NFS': 2, 'GEDP': 2, 'CRP': 1, 'GLY': 1, 'TG': 1, 'CHOLT': 1, 'HDL': 1, 'LDL': 1, 'TESTO': 1, 'CAL': 1, 'VS': 1}
['ECBU+ATB']
2024-06-07 00:00:00 {'NFS': 2, 'GEDP': 2, 'CRP': 1, 'GLY': 1, 'TG': 1, 'CHOLT': 1, 'HDL': 1, 'LDL': 1, 'TESTO': 1, 'CAL': 1, 'VS': 1, 'ECBU+ATB': 1}
['NFS', 'GEDP', 'CRP']
2024-06-09 00:00:00 {'NFS': 1, 'GEDP': 1, 'CRP': 1}
['NFS', 'GEDP', 'CRP', 'VS', 'CAL', 'IONO']
2024-06-10 00:00:00 {'NFS': 1, 'GEDP': 1, 'CRP': 1, 'VS': 1, 'CAL': 1, 'IONO': 1}
['GLY', 'HIV']
2024-06-14 00:00:00 {'GLY': 1, 'HIV': 1}
['UREE', 'CREAT']
2024-06-16 00:00:00 {'UREE': 1, 'CREAT': 1}
['NFS', 'GEDP', 'CRP', 'SDW']
2024-06-19 00:00:00 {'NFS': 1, 'GEDP': 1, 'CRP': 1, 'SDW': 1}
['NFS', 'GEDP', 'CRP']
2024-06-20 00:00:00 {'NFS': 1, 'GEDP': 1, 'CRP': 1}
['GEDP']
2024-06-22 00:00:00 {'GEDP': 1}
['NFS', 'PLAQUETTES', 'GEDP', 'UREE', 'CRAT', 'MG', 'CAL', 'IONO', 'GLY', 'VS', 'TG', 'CHOLT', 'HDL']
2024-06-27 00:00:00 {'NFS': 1, 'PLAQUETTES': 1, 'GEDP': 1, 'UREE': 1, 'CRAT': 1, 'MG': 1, 'CAL': 1, 'IONO': 1, 'GLY': 1, 'VS': 1, 'TG': 1, 'CHOLT': 1, 'HDL': 1}
['NFS', 'GEDP', 'CRP', 'SDW']
2024-06-28 00:00:00 {'NFS': 1, 'GEDP': 1, 'CRP': 1, 'SDW': 1}
['NFS', 'GEDP', 'CRP', 'GLY']
2024-06-30 00:00:00 {'NFS': 1, 'GEDP': 1, 'CRP': 1, 'GLY': 1}
['NFS', 'GEDP', 'CRP']
2024-06-30 00:00:00 {'NFS': 2, 'GEDP': 2, 'CRP': 2, 'GLY': 1}
{Timestamp('2024-06-05 00:00:00'): {'TRANSA': 1, 'NFS': 1, 'GEDP': 1, 'CRP': 1}, Timestamp('2024-06-07 00:00:00'): {'NFS': 2, 'GEDP': 2, 'CRP': 1, 'GLY': 1, 'TG': 1, 'CHOLT': 1, 'HDL': 1, 'LDL': 1, 'TESTO': 1, 'CAL': 1, 'VS': 1, 'ECBU+ATB': 1}, Timestamp('2024-06-09 00:00:00'): {'NFS': 1, 'GEDP': 1, 'CRP': 1}, Timestamp('2024-06-10 00:00:00'): {'NFS': 1, 'GEDP': 1, 'CRP': 1, 'VS': 1, 'CAL': 1, 'IONO': 1}, Timestamp('2024-06-14 00:00:00'): {'GLY': 1, 'HIV': 1}, Timestamp('2024-06-16 00:00:00'): {'UREE': 1, 'CREAT': 1}, Timestamp('2024-06-19 00:00:00'): {'NFS': 1, 'GEDP': 1, 'CRP': 1, 'SDW': 1}, Timestamp('2024-06-20 00:00:00'): {'NFS': 1, 'GEDP': 1, 'CRP': 1}, Timestamp('2024-06-22 00:00:00'): {'GEDP': 1}, Timestamp('2024-06-27 00:00:00'): {'NFS': 1, 'PLAQUETTES': 1, 'GEDP': 1, 'UREE': 1, 'CRAT': 1, 'MG': 1, 'CAL': 1, 'IONO': 1, 'GLY': 1, 'VS': 1, 'TG': 1, 'CHOLT': 1, 'HDL': 1}, Timestamp('2024-06-28 00:00:00'): {'NFS': 1, 'GEDP': 1, 'CRP': 1, 'SDW': 1}, Timestamp('2024-06-30 00:00:00'): {'NFS': 2, 'GEDP': 2, 'CRP': 2, 'GLY': 1}}

In [8]:
dict_par_dates = {"DATES" : [], "LIBELLÉ": [], "QTE": []}
dict_complet = {}
for dato, para in dict_dates.items():
    for examen, valeur in para.items():
        dict_par_dates["DATES"].append(dato.strftime("%d-%m-%Y"))
        dict_par_dates["LIBELLÉ"].append(examen)
        dict_par_dates["QTE"].append(valeur)
        dict_complet[examen] = dict_complet.get(examen, 0) + valeur 
df1 = pd.DataFrame(dict_par_dates)

print(dict_complet)
dict_complet_frame = {"Paramètres":[], "Valeur":[]}
for cle, valeur in dict_complet.items():
    dict_complet_frame["Paramètres"].append(cle)
    dict_complet_frame["Valeur"].append(valeur)

#### Mettre par ordre alphabétique les paramètres 
dict_complet_alph = {"Paramètres":[], "Valeur":[]}
alpha_para = list(dict_complet.keys())
alpha_para.sort()
for para in alpha_para:
    dict_complet_alph["Paramètres"].append(para)
    dict_complet_alph["Valeur"].append(dict_complet[para])
df2 = pd.DataFrame(dict_complet_alph)
df2

{'TRANSA': 1, 'NFS': 11, 'GEDP': 12, 'CRP': 9, 'GLY': 4, 'TG': 2, 'CHOLT': 2, 'HDL': 2, 'LDL': 1, 'TESTO': 1, 'CAL': 3, 'VS': 3, 'ECBU+ATB': 1, 'IONO': 2, 'HIV': 1, 'UREE': 2, 'CREAT': 1, 'SDW': 2, 'PLAQUETTES': 1, 'CRAT': 1, 'MG': 1}

    Paramètres  Valeur
0          CAL       3
1        CHOLT       2
2         CRAT       1
3        CREAT       1
4          CRP       9
5     ECBU+ATB       1
6         GEDP      12
7          GLY       4
8          HDL       2
9          HIV       1
10        IONO       2
11         LDL       1
12          MG       1
13         NFS      11
14  PLAQUETTES       1
15         SDW       2
16       TESTO       1
17          TG       2
18      TRANSA       1
19        UREE       2
20          VS       3

In [9]:
df1.to_excel("point_journalier_assurance_juin_2024.xlsx", index=False)
df2.to_excel("point_complet_assurance_juin_2024.xlsx", index=False)

In [10]:
df1

         DATES     LIBELLÉ  QTE
0   05-06-2024      TRANSA    1
1   05-06-2024         NFS    1
2   05-06-2024        GEDP    1
3   05-06-2024         CRP    1
4   07-06-2024         NFS    2
5   07-06-2024        GEDP    2
6   07-06-2024         CRP    1
7   07-06-2024         GLY    1
8   07-06-2024          TG    1
9   07-06-2024       CHOLT    1
10  07-06-2024         HDL    1
11  07-06-2024         LDL    1
12  07-06-2024       TESTO    1
13  07-06-2024         CAL    1
14  07-06-2024          VS    1
15  07-06-2024    ECBU+ATB    1
16  09-06-2024         NFS    1
17  09-06-2024        GEDP    1
18  09-06-2024         CRP    1
19  10-06-2024         NFS    1
20  10-06-2024        GEDP    1
21  10-06-2024         CRP    1
22  10-06-2024          VS    1
23  10-06-2024         CAL    1
24  10-06-2024        IONO    1
25  14-06-2024         GLY    1
26  14-06-2024         HIV    1
27  16-06-2024        UREE    1
28  16-06-2024       CREAT    1
29  19-06-2024         NFS    1
30  19-06-2024        GEDP    1
31  19-06-2024         CRP    1
32  19-06-2024         SDW    1
33  20-06-2024         NFS    1
34  20-06-2024        GEDP    1
35  20-06-2024         CRP    1
36  22-06-2024        GEDP    1
37  27-06-2024         NFS    1
38  27-06-2024  PLAQUETTES    1
39  27-06-2024        GEDP    1
40  27-06-2024        UREE    1
41  27-06-2024        CRAT    1
42  27-06-2024          MG    1
43  27-06-2024         CAL    1
44  27-06-2024        IONO    1
45  27-06-2024         GLY    1
46  27-06-2024          VS    1
47  27-06-2024          TG    1
48  27-06-2024       CHOLT    1
49  27-06-2024         HDL    1
50  28-06-2024         NFS    1
51  28-06-2024        GEDP    1
52  28-06-2024         CRP    1
53  28-06-2024         SDW    1
54  30-06-2024         NFS    2
55  30-06-2024        GEDP    2
56  30-06-2024         CRP    2
57  30-06-2024         GLY    1

In [11]:
dict_par_dates

{'DATES': ['05-06-2024',
  '05-06-2024',
  '05-06-2024',
  '05-06-2024',
  '07-06-2024',
  '07-06-2024',
  '07-06-2024',
  '07-06-2024',
  '07-06-2024',
  '07-06-2024',
  '07-06-2024',
  '07-06-2024',
  '07-06-2024',
  '07-06-2024',
  '07-06-2024',
  '07-06-2024',
  '09-06-2024',
  '09-06-2024',
  '09-06-2024',
  '10-06-2024',
  '10-06-2024',
  '10-06-2024',
  '10-06-2024',
  '10-06-2024',
  '10-06-2024',
  '14-06-2024',
  '14-06-2024',
  '16-06-2024',
  '16-06-2024',
  '19-06-2024',
  '19-06-2024',
  '19-06-2024',
  '19-06-2024',
  '20-06-2024',
  '20-06-2024',
  '20-06-2024',
  '22-06-2024',
  '27-06-2024',
  '27-06-2024',
  '27-06-2024',
  '27-06-2024',
  '27-06-2024',
  '27-06-2024',
  '27-06-2024',
  '27-06-2024',
  '27-06-2024',
  '27-06-2024',
  '27-06-2024',
  '27-06-2024',
  '27-06-2024',
  '28-06-2024',
  '28-06-2024',
  '28-06-2024',
  '28-06-2024',
  '30-06-2024',
  '30-06-2024',
  '30-06-2024',
  '30-06-2024'],
 'LIBELLÉ': ['TRANSA',
  'NFS',
  'GEDP',
  'CRP',
  'NFS',
  'GEDP',
  'CRP',
  'GLY',
  'TG',
  'CHOLT',
  'HDL',
  'LDL',
  'TESTO',
  'CAL',
  'VS',
  'ECBU+ATB',
  'NFS',
  'GEDP',
  'CRP',
  'NFS',
  'GEDP',
  'CRP',
  'VS',
  'CAL',
  'IONO',
  'GLY',
  'HIV',
  'UREE',
  'CREAT',
  'NFS',
  'GEDP',
  'CRP',
  'SDW',
  'NFS',
  'GEDP',
  'CRP',
  'GEDP',
  'NFS',
  'PLAQUETTES',
  'GEDP',
  'UREE',
  'CRAT',
  'MG',
  'CAL',
  'IONO',
  'GLY',
  'VS',
  'TG',
  'CHOLT',
  'HDL',
  'NFS',
  'GEDP',
  'CRP',
  'SDW',
  'NFS',
  'GEDP',
  'CRP',
  'GLY'],
 'QTE': [1,
  1,
  1,
  1,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  2,
  2,
  1]}